.v-application,
.v-stepper {
  background: transparent !important;
}

.v-btn {
  text-transform: none !important;
}

.v-input {
  &--selection-controls {
    margin-top: 0 !important;
    padding-top: 0 !important;
  }
}
